@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import "tailwindcss";

:root {
  --background: ##191970;
  --foreground: #171717;
}

* {
  font-family: 'Noto Sans Mono', monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
